
/* Fonts de Pronaca */
@font-face {
  font-family: 'BagossExtended';
  src: 
    url('../assets/fonts/BagossExtended-Bold.woff2') format('woff2'), /* Modern Browsers */
    url('../assets/fonts/BagossExtended-Bold.woff') format('woff'),   /* Good Fallback */
    url('../assets/fonts/BagossExtended-Bold.otf') format('opentype'); /* Legacy Fallback */
  font-weight: 700; 
  font-style: normal;
}

@font-face {
  font-family: 'BagossExtended';
  src: 
    url('../assets/fonts/BagossExtended-Regular.woff2') format('woff2'),
    url('../assets/fonts/BagossExtended-Regular.woff') format('woff'),
    url('../assets/fonts/BagossExtended-Regular.otf') format('opentype');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'BagossExtended';
  src: 
    url('../assets/fonts/BagossExtended-Light.woff2') format('woff2'),
    url('../assets/fonts/BagossExtended-Light.woff') format('woff'),
    url('../assets/fonts/BagossExtended-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Arial';
  src: 
    url('../assets/fonts/Arial.woff2') format('woff2'),
    url('../assets/fonts/Arial.woff') format('woff');
  font-weight: normal; 
  font-style: normal;
}



   /* Layout styles */
   body, html {
    margin: 0;
    padding: 0;
    width: 1080px;
    height:  1920px;
    overflow: hidden;
    font-family: 'BagossExtended', Arial, sans-serif;
    font-weight: 400;
    background-color: #fff;
  }

  .container {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #6d0a58;
    text-align: center;
  }

  .page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  }
  /* Header stays at top */
.header--container {
  margin-top: 50px;
  flex-shrink: 0; /* Prevent header from shrinking */
}

  .page.active {
    display: flex;
  }

  .title__bold {
    font-family: 'BagossExtended', Arial, sans-serif;
  }
  .welcome-title {
    font-family: 'BagossExtended', Arial, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.4;
    margin-top: 50px;
  }
  .welcome-subtitle {
    font-family: 'BagossExtended', Arial, sans-serif;
    font-weight: 400;
    font-size: 27px;
    line-height: 1.4;
    margin-top: 40px;
  }

/* Content takes up remaining space and centers itself */
.welcome-content,
.video-content,
.final-content {
  flex: 1; /* Take up remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  padding: 2rem;
  border-radius: 0px 0px 40px 40px;
  border: 2px solid white;
  margin-bottom: -40px;
  z-index: 1;
  background: white;
}

.bar-digital-epic {
  margin-top: 100px;
}

.cocktail-glass {
  background-color: #e962e9;
  width: 100%;
  margin: 0px;
}

/* Footer stays at bottom */
.footer--container {
 flex-shrink: 0; /* Prevent footer from shrinking */
  margin-top: auto; /* Push to bottom */
  background-color: #ffcfff;
  width: 100%;
  box-sizing: border-box; /* Include padding in width calculation */
  padding: 20px; /* Add your desired spacing */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.p-footer--styles {
  font-family: 'BagossExtended', Arial, sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}

.start-button {
  font-family: BagossExtended,Arial,sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-transform: none;
  box-shadow: none;
  transition: background-color .3s ease,color .3s ease;
  background-color: #ed2c29;
  color: #fff;
  padding: 15px 30px;
  border-radius: 10px 0;
  border: none;
  margin-top: 75px;
}